@import "tailwindcss";

@theme {
  /* Fuente */
  --font-sans: var(--font-inter);

  /* Colores principales */
  --color-primary: #024059;
  --color-secondary: #f28f38;
  --color-accent-red: #ec1e25;
  --color-accent-green: #038c4a;
  --color-accent-yellow: #eabe03;
  --color-danger: #960d0d;
  --color-success: #38c878;

  /* Fondos */
  --color-bg: #ffffff;
  --color-bg-card: #f7f7f7;
  --color-bg-border: #e0e0e0;
  --color-bg-separator: #ededed;

  /* Textos */
  --color-text: #343434;
  --color-text-muted: #707070;
  --color-text-inverse: #ffffff;
}

body {
  background: var(--color-bg);
  font-family: var(--font-sans);
}

.sidebar-collapsed {
  width: 5.5rem;
  min-width: 5.5rem;
  max-width: 5.5rem;
}

.sidebar-expanded {
  width: auto;
  min-width: 20rem; /* 320px */
  max-width: 30rem; /* 384px */
}
